<app-menu-bar-admin></app-menu-bar-admin>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Categorias de Perguntas Cadastradas</h3>

<div class="container">
    <div class="row justify-content-md-center">
        
      <!-- Barra de pesquisa -->
      <div class="col-md-9">
          <div class="md-form">
            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
              mdbInput>
            <label for="search-input">Pesquisar</label>
          </div>
        </div>

        <!-- btn add -->
        <div class="align-right col-md-3">
          <div class="md-form float-right">
            <button mdbBtn type="button" color="success" (click)="addModal.show()" mdbWavesEffect>Adicionar</button>
          </div>
        </div>

    <!-- Coluna da Tabela-->
    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
        <tr>
          <th *ngFor="let item of columns; let i = index" [mdbTableSort]="categoryList" [sortBy]="columns[i]" scope="col">
            {{item | titlecase}} <mdb-icon *ngIf="item !== 'ferramentas'" fas icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>

      <!-- itens tabela -->
      <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"
          *ngFor="let category of categoryList; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
            {{category.id}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{category.name}}</td>

          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            <!-- btn edit -->
            <span class="icons">
              <mdb-icon fas icon="pen"(click)="editCategory(i)"></mdb-icon>
            </span>
    
            <!-- btn delete-->
            <span class="icons">
              <mdb-icon fas icon="trash-alt" class="btn-delete" (click)="removeCategory(i)"></mdb-icon>
            </span>
          </td>
        </tr>
      </tbody>

      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="categoryList"></mdb-table-pagination>
          </td>
        </tr>
      </tfoot>

    </table>

  </div>
</div>


<!-- Modal Adicionar -->
<div mdbModal #addModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddModal()"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title w-100" id="myModalLabel">Adicionar Categoria</h4>
      </div>

      <form [formGroup]="addForm" (ngSubmit)="saveCategory()">
        <div class="modal-body">

          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
              <label for="name">Nome da Categoria</label>

            <div *ngIf="submitted && fadd.name.errors" class="invalidFeedback">
              <div *ngIf="fadd.name.errors.required">Nome é obrigatorio</div>
            </div>
          </div>

          <div class="md-form">
            <textarea id="description" class="md-textarea form-control" formControlName="description" mdbInput></textarea>
              <label for="description">Descricao</label>

            <div *ngIf="submitted && fadd.description.errors" class="invalidFeedback">
              <div *ngIf="fadd.description.errors.required">Descricao é obrigatorio</div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close" (click)="hideAddModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect type="submit">Salvar</button>
        </div>

        <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
          <strong>Sucesso!</strong> Categoria inserida.
        </div>

      </form>

    </div>
  </div>
</div>



<!-- Modal Editar -->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar Categoria</h4>
      </div>

      <form [formGroup]="editForm" (ngSubmit)="updateCategory()">
        <div class="modal-body">

          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
              <label for="name">Nome da Categoria</label>

            <div *ngIf="submitted && fedit.name.errors" class="invalidFeedback">
              <div *ngIf="fedit.name.errors.required">Nome é obrigatorio</div>
            </div>
          </div>

          <div class="md-form">
            <textarea id="description" class="md-textarea form-control" formControlName="description" mdbInput></textarea>
              <label for="description">Descricao</label>

            <div *ngIf="submitted && fedit.description.errors" class="invalidFeedback">
              <div *ngIf="fedit.description.errors.required">Descricao é obrigatorio</div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close" (click)="hideEditModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect type="submit">Salvar</button>
        </div>

        <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
          <strong>Sucesso!</strong> Categoria editada.
        </div>

      </form>

    </div>
  </div>
</div>


<!-- Delete Modal -->
<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Excluir Categoria</h4>
      </div>
      <div class="modal-body">
        Confirmar Exclusão?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" outline="true" class="waves-light" aria-label="Close" (click)="hideDeleteModal()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="danger" outline="true" class="relative waves-light" (click)="confirmDelete()">Excluir</button>
      </div>
    </div>
  </div>
</div>

<!--<app-footer-admin></app-footer-admin>-->

<ngx-ui-loader></ngx-ui-loader>