<app-menu-bar-admin></app-menu-bar-admin>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Dashboard</h3>

<div class="container">
    <div class="row clearfix ">

        <!-- Grafico 1 -->
        <div class="col-sm-6 margingraphic clearfix">
            <mdb-card>
                <mdb-card-body>
                    <div class="line">
                        <canvas mdbChart [chartType]="chartType01" [datasets]="chartDatasets01" [labels]="chartLabels01"
                            [colors]="chartColors01" [options]="chartOptions01" [legend]="true"
                            (chartHover)="chartHovered01($event)" (chartClick)="chartClicked01($event)">
                        </canvas>
                    </div>

                </mdb-card-body>
            </mdb-card>
        </div>


        <!-- grafico 2 -->
        <div class="col-sm-6 margingraphic clearfix">
            <mdb-card>
                <mdb-card-body>
                    <div class="horizontalBar">
                        <canvas mdbChart [chartType]="chartType02" [datasets]="chartDatasets02" [labels]="chartLabels02"
                            [colors]="chartColors02" [options]="chartOptions02" [legend]="true"
                            (chartHover)="chartHovered02($event)" (chartClick)="chartClicked02($event)">
                        </canvas>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>

    </div>
    
    <!-- Grafico 04 -->
    <div class="row margingraphic">
        <div class="col-sm-6 margingraphic clearfix">
            <mdb-card>
                <mdb-card-body>
                    <div class="radar">
                        <canvas mdbChart [chartType]="chartType04" [datasets]="chartDatasets04" [labels]="chartLabels04"
                            [colors]="chartColors04" [options]="chartOptions04" [legend]="true"
                            (chartHover)="chartHovered04($event)" (chartClick)="chartClicked04($event)">
                        </canvas>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <br>


        <!-- Grafico 03 -->
        <div class="col-sm-6 margingraphic clearfix">

            <div class="pie">
                <mdb-card>
                    <mdb-card-body>
                        <canvas mdbChart [chartType]="chartType03" [datasets]="chartDatasets03" [labels]="chartLabels03"
                            [colors]="chartColors03" [options]="chartOptions03" [legend]="true"
                            (chartHover)="chartHovered03($event)" (chartClick)="chartClicked03($event)">
                        </canvas>
                    </mdb-card-body>
                </mdb-card>
            </div>

        </div>



    </div>

    <!-- Download -->
    <!--<div class="col-4">
            <mdb-card class="download-card">
                <mdb-card-body>

                    Title
                    <mdb-card-title>
                        <h4>Download</h4>
                    </mdb-card-title>

                    Text
                    <mdb-card-text>Download do arquivo em excel
                        <span class="table-add float-right mb-3 mr-2">
                            <a class="text-success" (click)="downloadExcel()" mdbWavesEffect>
                                <mdb-icon fas icon="arrow-alt-circle-down" size="2x"></mdb-icon>
                            </a>
                        </span>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
    </div> -->


</div>

<!--<app-footer-admin></app-footer-admin>-->

<ngx-ui-loader></ngx-ui-loader>