.line {
  display: "block";
}

.horizontalBar {
  display: "block";
}

.pie {
  height: 10px;
  display: "block";
}

.radar {
  display: "block";
}

.download-card {
  margin-top: 10%;
}

.margingraphic {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-graph{
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: darkgray;
  font-size: 10px;
}
