<app-menu-bar-admin></app-menu-bar-admin>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Cursos Cadastrados</h3>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-9">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
          mdbInput>
        <label for="search-input">Pesquisar</label>
      </div>
    </div>
    <div class="align-right col-md-3">
      <div class="md-form float-right">
        <button mdbBtn type="button" color="success" (click)="addModal.show()" mdbWavesEffect>Adicionar</button>
        <!-- <span class="table-add ">
          <a class="text-success" (click)="addModal.show()" mdbWavesEffect>
            <mdb-icon fas icon="plus" size="2x"></mdb-icon>
          </a>
        </span> -->
      </div>
    </div>
  </div>

</div>

<div class="container">
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
    <thead class="sticky-top">
      <tr>
        <th *ngFor="let item of columns; let i = index" [mdbTableSort]="courseList" [sortBy]="columns[i]" scope="col">
          {{item | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>

    <tbody #row>
      <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"
        *ngFor="let course of courseList; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
          {{course.id}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
          {{course.name | slice:0:20}}</td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <span class="table-remove">
            <button type="button" mdbBtn color="info" size="sm" class="my-0" (click)="editCourse(i)">Editar</button>
          </span>
        </td>

        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <span class="table-remove">
            <button type="button" mdbBtn color="danger" size="sm" class="my-0" (click)="removeCourse(i)">Remove</button>
          </span>
        </td>
      </tr>
    </tbody>

    <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="5">
          <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="courseList">
          </mdb-table-pagination>
        </td>
      </tr>
    </tfoot>
  </table>


</div>





<!-- Modal Adicionar -->
<div mdbModal #addModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddModal()"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title w-100" id="myModalLabel">Adicionar Curso</h4>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="saveCourse()">
        <div class="modal-body">

          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
            <label for="name">Nome do Curso</label>

            <div *ngIf="submitted && fadd.name.errors" class="invalidFeedback">
              <div *ngIf="fadd.name.errors.required">Nome é obrigatorio</div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close"
            (click)="hideAddModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            type="submit">Salvar</button>
        </div>

        <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span
              aria-hidden="true">&times;</span></button>
          <strong>Sucesso!</strong> Curso inserido.
        </div>

      </form>

    </div>
  </div>
</div>



<!-- Modal Editar -->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
          <span aria-hidden="true">x</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar Curso</h4>
      </div>

      <form [formGroup]="editForm" (ngSubmit)="updateCourse()">
        <div class="modal-body">

          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
            <label for="name">Nome do Curso</label>

            <div *ngIf="submitted && fedit.name.errors" class="invalidFeedback">
              <div *ngIf="fedit.name.errors.required">Nome é obrigatorio</div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close"
            (click)="hideEditModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            type="submit">Salvar</button>
        </div>

        <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span
              aria-hidden="true">&times;</span></button>
          <strong>Sucesso!</strong> Curso editado.
        </div>

      </form>

    </div>
  </div>
</div>

<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Excluir Curso</h4>
      </div>
      <div class="modal-body">
        Confirmar Exclusão?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" outline="true" class="waves-light" aria-label="Close"
          (click)="hideDeleteModal()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="warning" class="relative waves-light"
          (click)="confirmDelete()">Excluir</button>
      </div>
    </div>
  </div>
</div>

<app-footer-admin></app-footer-admin>

<ngx-ui-loader></ngx-ui-loader>