<!-- Card Course-->

  <mdb-card>
    <h2 class="title">Curso</h2>
    <mdb-card-body class="card-body scrollbar scrollbar-primary">
      <!-- <mdb-card-title>
        <h4>Cursos</h4>
      </mdb-card-title> -->
      <mdb-card-text class="force-overflow">

        <ul class="list-group list-group-flush teste-1" *ngFor="let course of listCourse; let i=index">
          <li class="list-group-item list-group-item list-group-item-action waves-light">
            {{course.name}}
            <mdb-badge primary="true">
              <mdb-icon fas icon="pen"></mdb-icon>
            </mdb-badge>
          </li>
        </ul>

      </mdb-card-text>
    </mdb-card-body>
      <!-- Modal Course-->
      <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="courseModal.show()"
        mdbWavesEffect>Adicionar</button>

      <div mdbModal #courseModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="mybasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="courseModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">Adicionar Curso</h4>
            </div>

            <form [formGroup]="courseForm" (ngSubmit)="saveCourse()">
              <div class="modal-body">

                <div class="md-form">
                  <input mdbInput type="text" id="name" class="form-control" placeholder="Nome do Courso">

                  <div *ngIf="submitted && f.name.errors" class="invalidFeedback">
                    <div *ngIf="f.name.errors.required">Nome é obrigatorio</div>
                  </div>
                </div>

              </div>

              <div class="modal-footer">
                <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close"
                  (click)="courseModal.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                  type="submit">Salvar</button>
              </div>

              <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Sucesso!</strong> Curso inserido.
              </div>

            </form>

          </div>
        </div>
      </div>



  </mdb-card>
