<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Sobre!</h5>
        <p>[Colocar descricao do projeto e nossos nomes]</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/senacsaopaulo" target="_blank">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/senacsaopaulo" target="_blank">
            <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/165919/" target="_blank">
            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Youtube-->
          <a class="yt-ic" href="https://www.youtube.com/c/senacsaopaulo?sub_confirmation=1" target="_blank">
            <mdb-icon fab icon="youtube" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/senacsaopaulo/" target="_blank">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.sp.senac.br/" target="_blank">Senac</a>
    <br>
    <a class="page-admin" routerLink="/login_admin" routerLinkActive="active">Acesso Admin</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->