<app-menu-bar-admin></app-menu-bar-admin>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Faculdades Cadastradas</h3>

<div class="container">
    <div class="row justify-content-md-center">

        <!-- Barra de pesquisa -->
        <div class="col-md-9">
          <div class="md-form">
            <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
              mdbInput>
            <label for="search-input">Pesquisar</label>
          </div>
        </div>

        <!-- btn add -->
        <div class="align-right col-md-3">
          <div class="md-form float-right">
            <button mdbBtn type="button" color="success" (click)="addModal.show()" mdbWavesEffect>Adicionar</button>
          </div>
        </div>

    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <!-- Coluna da Tabela-->
      <thead class="sticky-top">
        <tr>
          <th *ngFor="let item of columns; let i = index" [mdbTableSort]="collegeList" [sortBy]="columns[i]"
            scope="col">{{item | titlecase}} <mdb-icon *ngIf="item !== 'ferramentas' && item !== 'city' && item !== 'state'" fas icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>

      <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"
          *ngFor="let college of collegeList; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
            {{college.id}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{college.name}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{college.tipo}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{college.city.name}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{college.state.uf}}</td>

          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            <!-- btn edit -->
            <span class="icons">
              <mdb-icon fas icon="pen"(click)="editCollege(i)"></mdb-icon>
            </span>
    
            <!-- btn delete-->
            <span class="icons">
              <mdb-icon fas icon="trash-alt" class="btn-delete" (click)="removeCollege(i)"></mdb-icon>
            </span>
          </td>
        </tr>
      </tbody>

      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="7">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="collegeList"></mdb-table-pagination>
          </td>
        </tr>
      </tfoot>

    </table>

  </div>
</div>

<!-- Modal Adicionar -->
<div mdbModal #addModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Adicionar Instituição</h4>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="saveCollege()">
        <div class="modal-body">
          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
            <label for="name">Nome da Instituição</label>
            <div *ngIf="submitted && fadd.name.errors" class="invalidFeedback">
              <div *ngIf="fadd.name.errors.required">Nome é obrigatorio</div>
            </div>
          </div>
          <!-- RadioButton Tipo -->
          <div class="md-form">
            <div class="d-flex justify-content-around">
              <p>Tipo da Instituição: </p>
              <div class="custom-control custom-radio custom-control-inline">
                <input formControlName="tipo" type="radio" class="custom-control-input" id="publicaAdd" name="tipo"
                  value="Publica">
                <label class="custom-control-label" for="publicaAdd">Publica</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input formControlName="tipo" type="radio" class="custom-control-input" id="privadoAdd" name="tipo"
                  value="Privado">
                <label class="custom-control-label" for="privadoAdd">Privado</label>
              </div>
            </div>
            <div *ngIf="submitted && fadd.tipo.errors" class="invalidFeedback">
              <div *ngIf="fadd.tipo.errors.required">Tipo é obrigatorio</div>
            </div>
          </div>
          <!-- Select Estado -->
          <div class="md-form ">
            <select formControlName="state" class="browser-default custom-select"
              (change)="onChange($event.target.value)">
              <option disabled value="null" selected>Selecione seu Estado</option>
              <option *ngFor="let state of listState" value="{{state.uf}}">{{state.name}}</option>
            </select>
            <div *ngIf="submitted && fadd.state.errors" class="invalidFeedback">
              <div *ngIf="fadd.state.errors.required">Estado é obrigatorio</div>
            </div>
          </div>
          <!-- Select Cidade -->
          <div class="md-form ">
            <select formControlName="city" class="browser-default custom-select">
              <option disabled value="null" selected>Selecione sua Cidade</option>
              <option *ngFor="let city of listCity" value="{{city.name}}">{{city.name}}</option>
            </select>
            <div *ngIf="submitted && fadd.city.errors" class="invalidFeedback">
              <div *ngIf="fadd.city.errors.required">Cidade é obrigatorio</div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close" (click)="hideAddModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect type="submit">Salvar</button>
        </div>

      </form>

    </div>
  </div>
</div>



<!-- Modal Editar -->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar Instituição</h4>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="updateCollege()">
        <div class="modal-body">
          <div class="md-form">
            <input mdbInput type="text" id="name" class="form-control" formControlName="name">
            <label for="name">Nome da Instituição</label>
            <div *ngIf="submitted && fedit.name.errors" class="invalidFeedback">
              <div *ngIf="fedit.name.errors.required">Nome é obrigatorio</div>
            </div>
          </div>
          <!-- RadioButton -->
          <div class="md-form">
            <div class="d-flex justify-content-around">
              <p>Tipo da Instituição: </p>
              <div class="custom-control custom-radio custom-control-inline">
                <input formControlName="tipoedit" type="radio" class="custom-control-input" id="publicaEdit" name="tipoedit" value="Publica">
                <label class="custom-control-label" for="publicaEdit">Publica</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input formControlName="tipoedit" type="radio" class="custom-control-input" id="privadoEdit" name="tipoedit" value="Privado">
                <label class="custom-control-label" for="privadoEdit">Privado</label>
              </div>
            </div>
            <div *ngIf="submitted && fedit.type.errors" class="invalidFeedback">
              <div *ngIf="fedit.type.errors.required">Tipo é obrigatorio</div>
            </div>
          </div>
          
          <!-- Select Estado -->
          <div class="md-form ">
            <select formControlName="state" class="browser-default custom-select"
              (change)="onChange($event.target.value)">
              <option disabled value="null" selected>Selecione seu Estado</option>
              <option *ngFor="let state of listState" value="{{state.uf}}">{{state.name}}</option>
            </select>
            <div *ngIf="submitted && fedit.state.errors" class="invalidFeedback">
              <div *ngIf="fedit.state.errors.required">Estado é obrigatorio</div>
            </div>
          </div>
          <!-- Select Cidade -->
          <div class="md-form ">
            <select formControlName="city" class="browser-default custom-select">
              <option disabled value="null" selected>Selecione sua Cidade</option>
              <option *ngFor="let city of listCity" value="{{city.name}}">{{city.name}}</option>
            </select>
            <div *ngIf="submitted && fedit.city.errors" class="invalidFeedback">
              <div *ngIf="fedit.city.errors.required">Cidade é obrigatorio</div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close" (click)="hideEditModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect type="submit">Salvar</button>
        </div>

      </form>
      
    </div>
  </div>
</div>


<!-- Modal Confirmar Exclusão -->
<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Excluir Instituição</h4>
      </div>
      <div class="modal-body">
        Confirmar Exclusão?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" outline="true" class="waves-light" aria-label="Close" (click)="hideDeleteModal()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="danger" outline="true" class="relative waves-light" (click)="confirmDelete()">Excluir</button>
      </div>
    </div>
  </div>
</div>

<!--<app-footer-admin></app-footer-admin>-->

<ngx-ui-loader></ngx-ui-loader>