INSTRUÇÕES PARA RESPONDER AO QUESTIONÁRIO

Este questionário está sendo aplicado para identificar seu estilo preferido de aprendizagem.
Não existem respostas corretas nem erradas. Será útil na medida que seja sincero(a) em suas respostas, sendo:
Se está mais em acordo com a frase que em desacordo coloque um x na coluna "CONCORDO".
Se está mais em desacordo com a frase que em acordo coloque um x na coluna "DESCORDO".
O questionário será anônimo, isto é, não será divulgado o nome do aluno que colaborou com esta pesquisa.

