<div class="container">
    <div class="row">
        <table mdbTable #tableEl="mdbTable" class="z-depth-1">
            <thead>
                <tr>
                    <th *ngFor="let item of columns; let i = index" scope="col">
                        {{item | titlecase}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questionList; let i = index">
                    <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                        scope="row">{{i+1}}</th>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        {{question.question}}</td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="idagree_{{question.id}}"
                                name="name_{{question.id}}" [(ngModel)]="question.answer" value="{{true}}" mdbInput>
                            <label class="custom-control-label" for="idagree_{{question.id}}">Concordo</label>
                        </div>

                    </td>
                    <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="iddisagree_{{question.id}}"
                                name="name_{{question.id}}" [(ngModel)]="question.answer" value="{{false}}" mdbInput>
                            <label class="custom-control-label" for="iddisagree_{{question.id}}">Descordo</label>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
                <tr>
                    <td colspan="4">
                        <mdb-table-pagination (click)="checkPagination()" [tableEl]="tableEl" [searchDataSource]="questionList">
                        </mdb-table-pagination>
                    </td>
                    <td colspan="4" *ngIf="lastPage">
                        <button type="button" mdbBtn color="success" mdbWavesEffect>Submeter</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>