<app-menu-bar-admin></app-menu-bar-admin>

<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Perguntas Cadastrados</h3>
<div id="table" class="table-editable">
  <span class="table-add float-right mb-3 mr-2">
    <a class="text-success" (click)="addModal.show()" mdbWavesEffect>
      <mdb-icon fas icon="plus" size="2x"></mdb-icon>
    </a>
  </span>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
          mdbInput>
        <label for="search-input">Pesquisar</label>
      </div>
    </div>

    <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
        <tr>
          <th *ngFor="let item of columns; let i = index" [mdbTableSort]="questionList" [sortBy]="columns[i]"
            scope="col">
            {{item | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>

      <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"
          *ngFor="let question of questionList; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
            {{question.id}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{question.question | slice:0:20}}...</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">
            {{question.category.name | slice:0:20}}</td>

          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            <span class="table-remove">
              <button type="button" mdbBtn color="info" size="sm" class="my-0" (click)="editCategory(i)">Editar</button>
            </span>
          </td>

          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" size="sm" class="my-0"
                (click)="removeQuestion(i)">Remove</button>
            </span>
          </td>
        </tr>
      </tbody>

      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="5">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="questionList">
            </mdb-table-pagination>
          </td>
        </tr>
      </tfoot>

    </table>

  </div>
</div>



<!-- Modal Adicionar -->
<div mdbModal #addModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAddModal()"><span
            aria-hidden="true">×</span></button>
        <h4 class="modal-title w-100" id="myModalLabel">Adicionar Pergunta</h4>
      </div>

      <form [formGroup]="addForm" (ngSubmit)="saveQuestion()">
        <div class="modal-body">

          <div class="md-form">
            <textarea id="question" class="md-textarea form-control" formControlName="question" mdbInput></textarea>
            <label for="question">Pergunta</label>

            <div *ngIf="submitted && fadd.question.errors" class="invalidFeedback">
              <div *ngIf="fadd.question.errors.required">Pergunta é obrigatorio</div>
            </div>
          </div>

          <div class="md-form ">
            <select formControlName="category" class="browser-default custom-select">
              <option disabled value="null" selected>Selecione a Categoria</option>
              <option *ngFor="let category of categoryList" value="{{category.name}}">{{category.name}}</option>
            </select>

            <div *ngIf="submitted && fadd.category.errors" class="invalidFeedback">
              <div *ngIf="fadd.category.errors.required">Categoria é obrigatorio</div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close"
            (click)="hideAddModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            type="submit">Salvar</button>
        </div>

        <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span
              aria-hidden="true">&times;</span></button>
          <strong>Sucesso!</strong> Pergunta foi inserida!
        </div>

      </form>

    </div>
  </div>
</div>



<!-- Modal Editar -->
<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Editar Curso</h4>
      </div>

      <form [formGroup]="editForm" (ngSubmit)="updateQuestion()">
        <div class="modal-body">

          <div class="md-form">
            <textarea id="question" class="md-textarea form-control" formControlName="question" mdbInput></textarea>
            <label for="question">Pergunta</label>

            <div *ngIf="submitted && fedit.question.errors" class="invalidFeedback">
              <div *ngIf="fedit.question.errors.required">Pergunta é obrigatorio</div>
            </div>
          </div>

          <div class="md-form ">
            <select formControlName="category" class="browser-default custom-select">
              <option disabled value="null" selected>Selecione a Categoria</option>
              <option *ngFor="let category of categoryList" value="{{category.name}}">{{category.name}}</option>
            </select>

            <div *ngIf="submitted && fedit.category.errors" class="invalidFeedback">
              <div *ngIf="fedit.category.errors.required">Categoria é obrigatorio</div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" outline="true" aria-label="Close"
            (click)="hideEditModal()" mdbWavesEffect>Cancelar</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            type="submit">Salvar</button>
        </div>

        <div #alert class="alert alert-success fade show" role="alert" *ngIf="success">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()"><span
              aria-hidden="true">&times;</span></button>
          <strong>Sucesso!</strong> A Pergunta foi editada!
        </div>

      </form>

    </div>
  </div>
</div>


<!-- Delete Modal -->
<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Excluir Pergunta</h4>
      </div>
      <div class="modal-body">
        Confirmar Exclusão?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="info" outline="true" class="waves-light" aria-label="Close"
          (click)="hideDeleteModal()" mdbWavesEffect>Cancelar</button>
        <button type="button" mdbBtn color="warning" class="relative waves-light"
          (click)="confirmDelete()">Excluir</button>
      </div>
    </div>
  </div>
</div>

<app-footer-admin></app-footer-admin>