<!--Main Navigation-->
<header>
    <!--Navbar-->
    <mdb-navbar [containerInside]="true" SideClass="navbar navbar-expand-lg navbar-light white">
        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand">
                <strong class="blue-text" routerLink="/admin" routerLinkActive="active">BSI</strong>
            </a>
        </logo>
        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" mdbWavesEffect routerLink="/admin" routerLinkActive="active">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" mdbWavesEffect routerLink="/admin/course" routerLinkActive="active">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" mdbWavesEffect routerLink="/admin/college" routerLinkActive="active">Instituições</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" mdbWavesEffect routerLink="/admin/category" routerLinkActive="active">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" mdbWavesEffect routerLink="/admin/question" routerLinkActive="active">Perguntas</a>
                </li>
            </ul>
            <!-- Links -->

        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->